<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zahro.budaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Budaya">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.DetailSumateraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.DetailPapuaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.DetailKalimantanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.DetailSulawesiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.detail.DetailJawaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SulawesiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PapuaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KalimantanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JawaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SumateraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>